{% include 'core/libaries.html' %}
{% load static %}
<title> Buy Now </title> 
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h1>Buy Now</h1>
    <hr>
    <br>
    <h4>Order Summary</h4>
    <hr>
    {%for item in cart_item%}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.gs_product.title}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price: {{item.total_cost}}</p>
        </div>
      </div>
      {%endfor%}
      <p>Total Cost +RS 150 = {{totalamount}}</p>
    <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil in et quis?</small>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="/procedtopay">
      {%for ad in add %}
      <div class="card">
        <div class="card-body">
        <h5>Customer Name</h5>
        <h5>{{ad.cus_name}}</h5>
        <br>
        <h5>delivery Address</h5>
        <p>{{ad.address1}}</p>
        </div>
      </div>
        {% comment %} <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" value="">
          <label class="form-check-label fw-bold" for="">
            Address: 1 </label>
        </div> {% endcomment %}

        {%endfor%}
        <div class="text-end">
          <a href = "{% url 'procedtopay' %}"><button type="button" class="btn btn-warning mt-3 px-5 fw-bold">Proced to pay</button></a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}