
.error{
  color: red;
}
.success{
  color:green;
}

h2 {
  font-weight: 300;
  text-align: center;
  color:#e2ad3c ;
  
}

p {
  position: relative;
}



#login-form-wrap {
  background-color: #fff;
  width: 95%;
  height: 700px;
  margin: 30px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 0px;
}

#login-form {
  padding: 0 60px;

}

p input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}
#cussizebook{
  display: block;
  box-sizing: border-box;
  width: 10%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
  margin-left: 500px;

}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 0;
  color: #8a8b8e;
  border: 1px solid #c2c0ca;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  background: none;
}
input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #3ca9e2;
}


input[type="submit"] {
  border: none;
  display: block;
  background-color:#e2ad3c;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
input[type="submit"]:hover {
  background-color: #d1d8db;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#create-account-wrap {
  background-color: #eeedf1;
  color: #8a8b8e;
  font-size: 14px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
}
.signlogo{
  height: 150px;
  width: 150px;
  padding-top: 0px;
  position:inline;
  
}
.signhiwid{
  height: 20px;
  width: 20px;
}












.lablpos{
  margin-left: -1100px;
  color: rgb(226, 156, 25);
  font-size: 23px;
  
}