{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="{% static 'core/plugins/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/faq.css' %}">
</head>
{% include 'core/navbar.html' %} 
<body>
    
    <div class = "main-wrapper">
        <div class = "containerfaq">
            <div class = "faq-title"><h1>frequently asked questions</h1></div>
            <div class = "faq-content">
                <div class = "faq-left-content">
                    <img loading="lazy" class = "" src="{% static 'core/images/logo.png' %}" alt="Constra">
                    <p>The <b> GHARBANO </b> Project aimed toward a person who don’t want to visit the shop as he might don’t get time for that or might not interested in visiting there and dealing with lot of formalities.</p>
                </div>

                <div class = "faq-right-content">
                    <div class = "faq-item">
                        <div class = "faq-item-head">
                            <span class = "faq-item-text">What is GHARBANO and how does it work?</span>
                            <span class = "faq-item-icon">
                                <i class = "fa fa-chevron-down"></i>
                            </span>
                        </div>
                        <div class = "faq-item-body">
                            <p><b>GharBano</b> is an Online Shopping Store Where you can Buy our <b>House Making Products</b> like Cement, Bricks, Crush, Steel and Sand etc, And Also you can Get <b>Our Services</b> "Need Labor,Plumber, Electrician, Carpenter, Painter".</p>
                        </div>
                    </div>

                    <div class = "faq-item">
                        <div class = "faq-item-head">
                            <span class = "faq-item-text">How do I place an order on GharBano?</span>
                            <span class = "faq-item-icon">
                                <i class = "fa fa-chevron-down"></i>
                            </span>
                        </div>
                        <div class = "faq-item-body">
                            <p>Shopping on Daraz is super easy but first, <b>register your GharBano account</b> in order to purchase from GharBano.
                                <br/><b>Steps:</b><b>></b>Add item to Cart, </b><b>></b>Go to cart and Place order, </b><b>></b>Process Payment. 
                                <br/><b>Note:</b>Minimum COD order limit is Rs.110 and the maximum order limit for COD is Rs.150,000 only.
                        </p>
                        </div>
                    </div>

                    <div class = "faq-item">
                        <div class = "faq-item-head">
                            <span class = "faq-item-text">What payment options are available at GharBano?</span>
                            <span class = "faq-item-icon">
                                <i class = "fa fa-chevron-down"></i>
                            </span>
                        </div>
                        <div class = "faq-item-body">
                            <p>We have the following payment methods through which you can make a payment:
                                <br/> <b>Easypaisa Mobile Account</b>
                                <br/> <b>JazzCash Mobile Account</b>
                                <br/> <b>Bank Transfer</b>
                                <br/> <b>COD (Cash on Delivery)</b>
                            </p>
                        </div>
                    </div>

                    <div class = "faq-item">
                        <div class = "faq-item-head">
                            <span class = "faq-item-text">Does GharBano have a mobile app?</span>
                            <span class = "faq-item-icon">
                                <i class = "fa fa-chevron-down"></i>
                            </span>
                        </div>
                        <div class = "faq-item-body">
                            <p>Right now we have <b>no mobile App</b>, our team is working on it, we will update you soon about mobile app.</p>
                        </div>
                    </div>
                    <div class = "faq-item">
                        <div class = "faq-item-head">
                            <span class = "faq-item-text">What is GharBano's refund policy?</span>
                            <span class = "faq-item-icon">
                                <i class = "fa fa-chevron-down"></i>
                            </span>
                        </div>
                        <div class = "faq-item-body">
                            <p><b>Refund against Return orders:</b> The refund is processed if your return claim is deemed valid.

                                <br/> <b>Refund against Cancelled orders:</b>  Refund is automatically triggered once the cancellation has been successfully processed.
                                <br/> <b>Failed Delivery:</b> In case of a failed delivery, It takes 03 working days to return the item to the seller. Once the item is delivered to the seller then your order status will get updated as "Refunded".</p>
                        </div>
                    </div>
                    <div class = "faq-item">
                        <div class = "faq-item-head">
                            <span class = "faq-item-text">Can't find the answer you are looking for?</span>
                            <span class = "faq-item-icon">
                                <i class = "fa fa-chevron-down"></i>
                            </span>
                        </div>
                        <div class = "faq-item-body">
                            <p>Contact us through <b>CONTACT US PAGE"</b>" we will assist you.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'core/js/faq.js'%}"></script>
</body>
{% include 'core/footer.html' %} 
</html>