
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GHAR BANAO</title>
    <link href="images/logo.png" rel="icon">
    <link rel="icon"  href="{% static 'core/images/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'gb_readymadehouse/css/readymadehouse.css' %}">
    
    
   
</head>
{% include 'core/navbar.html' %} 


<body>
    
    
   

<div id="labour_services">
    <h1 class="services animate-charcter">Buy Our ReadyMade House <br> BY GHAR BANAO</h1>
    <form method="" enctype="multipart/form-data"> 
    {% for home in homes %}

    <div class="sectionhome33">
        <img src="{{home.image.url}}" alt="" width = '100%'> 
        <h2 class="homehead"> <b> House Owner Name and <br> Contact  </h2>
        <h2><i> {{home.owner_name}}   <br> {{home.phoneNumber}} <br> Date  {{home.date_time}} </i></h2>
        <h2 class="homehead"> <b>Description & Address  </h2>
        <p>{{home.description}}</p>
        <h2 class="homehead"> <b>Price Demanded  </h2>
       <p ><mark>{{home.house_price}} </mark></p> 
        <a href="{% url 'readymadehomegallery' home.propertyNum %}" class="myButton">See More photos</a>
        </form>
    </div>
    {% endfor %}
   
</div>
<br>
</body>
{% include 'core/footer.html' %}
</html>